<% layout('layouts/boilerplate') %> 
<div class="row">
    <h1 class="text-center">Update Campground</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/campgrounds/<%= camp._id %>?_method=PUT" method="POST" enctype="multipart/form-data" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" name="campground[title]" id="title" value="<%= camp.title %>" required>
                <div class="valid-feedback">Looks Good!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" name="campground[location]" id="location" value="<%= camp.location %>" required>
                <div class="valid-feedback">Looks Good!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" name="campground[price]" id="price" placeholder="0.00" aria-label="Price" aria-describedby="price-label" value="<%= camp.price %>" required>
                    <div class="valid-feedback">Looks Good!</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" name="campground[description]" id="description" required><%= camp.description %></textarea>
                <div class="valid-feedback">Looks Good!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Add Images</label>
                <div class="input-group">
                    <input type="file" class="form-control" id="image" name="image" aria-describedby="imageUpload" aria-label="Upload" multiple>
                </div>
            </div>
            <div class="mb-3">
                <% camp.images.forEach(function(image, i) { %> 
                    <img src="<%= image.thumbnail %> " class="img-thumbnail" alt="">
                    <div class="form-check-inline">
                        <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= image.filename %>">
                    </div>
                    <label for="image-<%= i %>">Delete</label>
                <% }) %> 
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Update</button>
            </div>
        </form>
        <a href="/campgrounds/<%= camp._id %> ">Cancel</a>
    </div>
</div>